@import "../../../styles/settings.scss";

.root {
  position: relative;
  display: flex;
  padding: 0 130px;
  margin: 20px 0;
  max-height: 800px;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .slide {
    position: relative;
    height: 400px;
    opacity: 0;
    background-repeat: "no-repeat";
    background-position: center;
    background-size: cover;
    transform: translateX(100%);
    transition: all 0.5s ease-out;
  }

  .slide.active {
    width: 100%;
    opacity: 1;
    transform: translateX(0%);
    transition: all 0.5s ease-out;
  }

  @media (max-width: 767px) {
    .slide {
      height: 400px;
      .title {
        font-size: 1.5em;
      }
      .subtitle {
        font-size: 0.7em;
      }
    }
  }

  @media (max-width: 960px) {
    .slide {
      height: 450px;
    }
  }
}
