@import "../../../styles/settings.scss";

.root {
  .table {
    .image {
      height: 100px;
      width: 100px;
      object-fit: cover;
    }

    .title {
      font-weight: bold;
      font-size: 1rem;
      text-align: center;
      text-transform: uppercase;
    }

    .tableCell {
      width: 100px;
    }
  }
}
