@import "../../../styles/settings.scss";

.root {
  .component {
    padding: $base-size;
    margin: 60px 300px;

    .photoWrapper {
      position: relative;
      height: 50vh;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .actions {
      display: flex;
      padding: $base-size;
      justify-content: space-around;
      align-items: center;
    }

    .favorite:hover {
      color: $fevorite;
    }

    .share:hover {
      color: $share;
    }

    .card {
      height: 50vh;
      padding: 10px;
      color: $font-dark;
    }

    .content {
      .title {
        margin-top: 10px;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
      }

      .text {
        margin-top: 10px;
        font-size: 20px;
      }

      .price {
        margin-top: 20px;
        font-weight: bold;
        font-size: 20px;
      }
    }

    .button {
      background-color: $font-logo;
      color: $font-light;
    }
  }
}
