// SIZE
$base-size: 12px;

// BACKGROUND
$background-light: #f8f2f2;
$background-dark: #3d3d3d;
$background-main: #24262b;
$background-social: #ffffff33;

// FONT
$font-dark: #3d3d3d;
$font-light: #ffffff;
$font-logo: #e91e63;
$font-footer: #bbbbbb;
$font-hover-social: #24262b;
