@import "../../../styles/settings.scss";

.root {
  margin-top: 180px;
  padding-top: 15px;
  font-weight: bold;
  color: $font-blue;
  background: $background-gradient;

  .foot {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;

    .media {
      a {
        color: $font-light;
        margin: 10px;

        &:hover {
          color: $font-blue;
        }
      }
    }
  }
}
