@import "../../../styles/settings.scss";

.root {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 35px;
  padding-top: 15px;
  font-weight: bold;
  color: $font-blue;
  background: $background-gradient;
  text-transform: uppercase;

  .foot {
    display: flex;
    justify-content: center;

    .media {
      ul {
        display: flex;
        padding: 5px;
        margin: 25px;
        list-style: none;

        a {
          color: $font-light;
          margin: 5px;

          &:hover {
            color: $font-blue;
          }
        }
      }
    }
  }
}
